# Gradle
.gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
**/.gradle

/build-logic/.gradle


# Idea
/.idea

*.iml

# DS store
.DS_Store

/captures
.externalNativeBuild
.cxx

# local
/local.properties
local.properties
gradle.properties

# build
**/.build
**/build
build-logic/convention/build
.secrets
*.env
.bak
**/build-logic/build/**/build
**/build-logic/.gradle/**

# Personal notes
.andrei/

